body {
	padding: 0;
	margin: 0;
	background: #000;
	font-family: 'Roboto', 'Tahoma', 'Arial', sans-serif;
}
.container {
	padding: 0;
	margin: 0;
	width: 100%;
}
img {
	width: 100%;
}
.gravatar-lg {
	width: 130px;
}
.gravatar-sm {
	width: 50px;
	border: 2px solid #fff;
}
.table > tbody > tr > td {
	vertical-align: middle;
}

/* Video Background */
#videoBG {
	display: block; 
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -99;
}
#ja-heading {
	width: 100%;
	color: #fff;
	padding: 6rem;
}
#ja-heading-welcome {
	font-weight: bold;
	opacity: 0.9;
	text-shadow: 2px 2px 3px #000;
}
#ja-heading-title {
	font-size: 12rem;
	font-family: 'Creepster', cursive;
	opacity: 0.9;
	letter-spacing: 3px;
	text-shadow: 2px 2px 3px #000;
}

/* Navigation Bar */
.ja-navgroup {
	width: 100%;
	border: 1px solid #fff;
	background-color: #533174;
	box-shadow: 2px 2px 3px #000;
	opacity: 0.9;
	z-index: 1;
}
.ja-desktopnav {
	float: left;
	width: 100%;
}
.ja-navbutton {
	font-weight: bold;
	color: #fff;
	border-right: 1px solid #fff;
	text-align: center;
}
.ja-navbutton-first {
	border-left: 1px solid #fff;
}
.ja-navbutton:link {
	color: #fff;
}
.ja-navbutton:visited {
	color: #fff;
}
.ja-navbutton:hover {
	background: #000;
	color: #ff006a;
	box-shadow: 1px 0 #000, -1px -1px #fff;
}
.ja-navbutton:active {
	color: #fff;
}
.ja-content {
	padding: 20px 15px;
	margin: auto;
	width: 100%;
	color: #fff;
}
.ja-white {
	color: #fff;
}
.ja-modal {
	background: #533174;
	border: 2px solid #fff;
}
.ja-modal-width
{
    width: 50%; /* your width */
}

/* Footer */
.madewithlove {
	width: 100%;
	margin: 0;
	margin-bottom: 3rem;
	padding: 0.4rem;
	border: 1px solid #fff;
	background-color: #533174;
	box-shadow: 2px 2px 3px #000;
	opacity: 0.9;
  font: normal 1.6rem Calibri, Tahoma, Arial, sans-serif;
  color: #fff;
}
.madewithlove a {
  color: #ff006a;
  text-decoration: none;
}
.madewithlove a:hover {
	color: #fff;
}
.madewithlove__heart {
  color: #ff006a;
}
.madewithlove__heart:hover {
  color: #fff;
}

/* Mobile Navigation */
.navmobile {
	display: none;
	background: #533174;
	box-shadow: 1px 1px 2px #000;
	position: absolute;
	top: 32px;
	right: 10px;
	width: 140px;
	z-index: 2;
	font-size: 1.2em;
}
.navmobile ul {
	display: block;
	width: 10%;
	text-align: center;
	margin-top: 3px;
	margin-bottom: -1px;
}
.navmobile ul li {
	display: block;
	line-height: 30px;
	text-align: center;
}
.navmobile ul li:hover {
	background-color: #000;
	background-image: none;
}
.navmobile ul li a {
	color: #fff;
	text-decoration: none;
}
.navmobile ul li a:hover {
	color: #ff006a;
}

/* Hamburger Menu */
.hamburger {
	cursor: pointer;
	margin-right: 10px;
	float: right;
}
.hamburger .bar1, .hamburger .bar2, .hamburger .bar3 {
	width: 25px;
	height: 2px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;
}
.hamburger .bar1:hover, .hamburger .bar2:hover, .hamburger .bar3:hover {
	background: #402659;
}

/* Accordions */
.panel-group .panel-heading {
	text-decoration: none;
}
.panel-group .panel-body {
	color: #000;
}
.panel-body > p {
	color: #000;
}

/* Chat Screen */
#chat-messages {
	height: 50vh;
	overflow: auto;
}
.ja-chat-container {
	display: grid;
	grid-gap: 2rem;
	grid-template-areas: 
		'title title'
		'sidebar chatbox'
		'sidebar chatbox'
		'sidebar chatform';
	justify-content: center;
	align-content: center;
	margin: 0;
	background: #000;
	opacity: 0.9;
}
.ja-chat-title {
	grid-area: title;
}
.ja-sidebar {
	grid-area: sidebar;
}
.ja-chatbox {
	grid-area: chatbox;
}
.ja-chatform {
	grid-area: chatform;
}

.ja-small-font { 
	font-size: 1.4rem; 
}
.ja-bottompadding {
	margin-bottom: 20px;
}
.ja-bottompadding2 {
	margin-bottom: 30px;
}
.ja-bottompadding3 {
	margin-bottom: 50px;
}
.ja-toppadding {
	margin-top: 20px;
}
.ja-toppadding2 {
	margin-top: 30px;
}
.ja-toppadding3 {
	margin-top: 50px;
}
.ja-horizontaldivider{
	width:5px;
	height:auto;
	display:inline-block;
}
.form .form-control:not(.datepicker)
{
	margin-bottom: 10px;
}
.bs-callout {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 5px solid #eee;
}
.bs-callout h4 {
margin-top: 0;
}
.bs-callout p:last-child {
margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
background-color: #fcf2f2;
border-color: #dFb5b4;
}
.bs-callout-warning {
background-color: #fefbed;
border-color: #f1e7bc;
}
.bs-callout-info {
background-color: #f0f7fd;
border-color: #d0e3f0;
}

/* Media Queries */
@media (min-width:200px)
{
	.ja-navbutton { font-size: 40%; border-right: 0px; }
	.ja-content { font-size: 100%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 140%; }
	.hamburger { visibility: visible; display: block; }
	.ja-navbutton { visibility: hidden; display: none; }
	#ja-heading-title { font-size: 6rem; }
}
@media (min-width:700px)
{
	.ja-navbutton { font-size: 50%; border-right: 1px solid #a0a0a0; }
	.ja-content { font-size: 110%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 140%; }
	#ja-heading-title { font-size: 8rem; }
}
@media (min-width:800px)
{
	.ja-navbutton { font-size: 60%; border-right: 1px solid #a0a0a0; }
	.ja-content { font-size: 120%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 160%; }
}
@media (min-width:900px)
{
	.ja-navbutton { font-size: 80%; border-right: 1px solid #a0a0a0; }
	.ja-content { font-size: 140%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 160%; }
	.navmobile, .hamburger { visibility: hidden; display: none; }
	.ja-navbutton { visibility: visible; display: inline-block; }
	#ja-heading-title { font-size: 10rem; }
}
@media (min-width:1000px)
{
	.ja-navbutton { font-size: 100%; border-right: 1px solid #a0a0a0; }
	.ja-content { font-size: 160%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 180%; }
}
@media (min-width:1100px)
{
	.ja-navbutton { font-size: 120%; border-right: 1px solid #a0a0a0; }
	.ja-content { font-size: 180%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 180%; }
	#ja-heading-title { font-size: 12rem; }

}