[Unit]
Description=Runs Ratchet WebSocket service for Chat website.
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/php -f /home/collectorsscave/public_html/chatServer/chat-server.php > /home/collectorsscave/public_html/chatServer/chat-server.log
TimeoutStartSec=0
User=collectorsscave
Group=collectorsscave

[Install]
WantedBy=multi-user.target