[Unit]
Description=Runs Ratchet WebSocket service for Chat website.
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/php -f /home/YOUR_HOME_DIRECTORY_PATH/public_html/chatServer/chat-server.php >> /home/YOUR_HOME_DIRECTORY_PATH/public_html/chatServer/chat-server.log
TimeoutStartSec=0
User=YOUR_CPANEL_USERNAME
Group=YOUR_CPANEL_PASSWORD
Restart=always

[Install]
WantedBy=multi-user.target